@font-face {
    font-family: 'Geometr';
    src: url('../fonts/Geometr706Medium.otf') format('opentype');
    font-weight: 500; /* Medium соответствует 500 */
    font-style: normal;
    font-display: swap;
}

/* Подключение жирного начертания (Heavy = 800-900 weight) */
@font-face {
    font-family: 'Geometr';
    src: url('../fonts/Geometr723Heavy.otf') format('opentype');
    font-weight: 900; /* Heavy обычно 800-900 */
    font-style: normal;
    font-display: swap;
}

/* Использование */
body {
    font-family: 'Geometr', sans-serif;
    font-weight: 500; /* Будет использован Medium */
    font-size: 16px;
    max-height: 100vh;
}

h1, .bold-text, .logo {
    font-weight: 900; /* Будет использован Heavy */
}

/* Для нормального текста можно указать явно или по умолчанию */
.normal-text {
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* max-width: 1920px; */
    margin: 0 auto;
    height: 100vh;
    /* overflow: hidden; */
}

.hide {
    opacity: 0;
    transition: all 1s ease-in-out;
}

button, a {
    -webkit-tap-highlight-color: transparent;
}



/* =============  HEADER  ============= */

.header {
    display: grid;
    grid-template: ". logo nav search" max-content / 2fr 1fr 2.5fr 0.5fr;
    align-items: center;
    justify-items: start;
    padding: 30px 0;
    text-transform: uppercase;
    font-weight: 500;

    position: relative;

    overflow: hidden;
    flex-shrink: 0;
}
/* 
.header::after {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 2px;
    background-color: #000000;
} */


.header__logo-wrapper {
    grid-area: logo;
    /* justify-self: start; */
    /* margin-right: 100px; */
    cursor: default;
}
.logo {
    margin: 0 0 0 0px;
    font-size: 24px;
    width: 150px;
    line-height: 1;
    color: #FF4747;
    font-weight: 900;
}

.header__nav {
    grid-area: nav;
    transform: translateX(-15px);
}
.header__nav ul {
    display: flex;
    gap: 10px;
}


.header__nav a {
    padding: 15px;
    transition: all .3s;
    position: relative;
    line-height: 1;
    letter-spacing: 1px;
}

.header__nav a:hover {
    color: #01BCB5;
}

.header__nav a::before {
    content: "";
    position: absolute;
    bottom: -200%;
    /* left: -15px; */
    width: calc(100% - 15px);
    /* width: 100%; */
    height: 55px;
    background-color: #01BCB5;
    transition: bottom .3s ;

}
.header__nav a:hover::before {
    bottom: -100%;

}

.search {
    grid-area: search;
    justify-self: center;
}

.search__icon {
    transition: fill .3s;    

}
.search__icon:hover {
    fill: #01BCB5;
}





/* =============  MAIN  ============= */

.main {
    /* flex-grow: 1; */
    display: grid; 
    grid-template: 
        "slider-arrows healthy thirsty thirsty" 3fr
        "slider-arrows healthy slider-dots orange" 1fr
        "freshy healthy slider-dots orange" 3fr 
        / 2fr 1fr 1.5fr 1.5fr;
    /* height: 70vh; */
}

/* =============  SLIDER ARROW  ============= */

.slider-arrows {
    grid-area: slider-arrows;
    position: relative;
    /* max-height: 300px; */
    height: 100%;
    width: 100%;
}
.slider-arrows__items-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    transition: all 1s ease;
}

.slider-arrows__item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}
.slider-arrows__img {
    width: 100%;
    height: 100%;
    /* max-height: 500px; */
    object-fit: cover;
}
.slider-arrows__nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.slider-arrows__arrow {
    color: #fff;
    background-color:  rgba(0, 0, 0, 0.3);
    font-size: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    
    fill: #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50px;
    height: 50px;


    transition: all .3s ease;
}

.slider-arrows__arrow img {
    width: 30px;
    height: 30px;
}

.slider-arrows__arrow-left {
    transform: rotate(180deg);
}

.slider-arrows__arrow:hover {
    background-color:  rgba(0, 0, 0, 0.5);
}


.btn {
    display: inline-block;
    color: #fff;
    background-color:  rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 2px solid #fff;
    transition: background-color .3s ease, scale .15s ease;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .3s;
}

.btn:active {
    transition: all .1;
    transform: scale(0.99);

}

.slider-arrows__btn {
}
.slider-arrows__arrow-right {

}

/* =============  SLIDER DOTS  ============= */


.slider-dots {
    grid-area: slider-dots;
    position: relative;
    height: 100%;
    width: 100%;
}
.slider-dots__items-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    transition: all 1s ease;
}

.slider-dots__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.slider-dots__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider-dots__btn-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider-dots__btn {
}
.slider-dots__nav {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;  
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.slider-dots__nav-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all .2s ease;
}
.slider-dots__nav-item--active {
    background-color: #fff;
}

.slider-dots__nav-item:hover {
    opacity: 0.8;
}
.slider-dots__nav-item:active {
    opacity: 0.6;
}

/* =============  SECTION DESC  ============= */
.section__desc {
    /* margin: auto 0; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    color: #fff;
}
.section__desc-green {
    grid-area: freshy;
    background-color: #BEE163;
    /* align-items: center; */
}
.desc__wrapper {
    display: flex;
    gap: 60px;
    align-items: start;
    justify-content: center;
    /* flex-grow: 1; */
    /* height: 100%; */
}
.section__heading {
    line-height: 1;
    max-width: 140px;
}

.section__heading p{
    font-size: 18px;
    line-height: 1.2;
}


.section__heading h2{
    font-size: 66px;
}

.section__heading span{
    font-size: 55px;
}


.bold-text {
}
.normal-text {
}
.section__text {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    max-width: 240px;
    line-height: 1.4;
    hyphens: auto;
    /* align-self: start; */
}
.desc__wrapper-red{
    justify-content: end;
    flex-direction: column;
}
.section__desc-red {
    padding-bottom: 80px;
    grid-area: healthy;
    background-color: rgb(255, 71, 71);
    align-items: end;

}
.desc__wrapper-red .section__text{
    width: 150px;
}
.section__desc-yellow {
    grid-area: thirsty;
    justify-content: center;
    background-color: rgb(255, 181, 71);

}

.desc__wrapper-yellow > p {
    text-align: right;
}


/* =============  SECTION ORANGE  ============= */


.orange {
    grid-area: orange;
    position: relative;
    transition: all .3s;
    width: 100%;
    height: 100%;
}
.orange img {
    width: 100%;
    height: 100%;
    transition: all .3s;

}

.orange__btn-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.orange__arrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 5;

}
.orange__nav::after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: all .3s;
}
.orange__nav:hover::after {
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .3s ease;
}



/* =============  FOOTER  ============= */

.footer__wrapper {
    flex: 1;
    /* flex-shrink: 0; */
    display: grid; 
    grid-template: "footer sidebar" 1fr / 4.5fr 1.5fr;

}
.footer {
    padding-top: 50px ;
    grid-area: footer;
    display: grid;
    grid-template:
        ". socials form logo" max-content
        ". . . copy" 100px / 1fr 1fr 1.5fr 1fr;

    align-content: center;
    align-items: end;


    background-color: #2F2F2F ;
    color: #fff;
}
.socials {
    grid-area: socials;
    display: flex;
    gap: 15px;
}
.socials__link img {
    height: 20px;
    width: 20px;
}
.socials__link {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 45px; 
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.socials__link:hover {
    transform: scale(1.2);
}

.socials__link:active {
    opacity: 0.6;
}


.form {
    grid-area: form;
    display: flex;
    gap: 20px;
    font-size: 18px;
    line-height: 1.3;
    flex-direction: column;
    text-transform: uppercase;
}
.form__title {
    letter-spacing: 2px;
}
.form__row {
    display: flex;
}
.form__input {
    font-size: 14px;
    height: 40px;
    width: 220px;
    padding: 0px 20px;
    outline: none;
}
.form__submit-btn {
    height: 40px;
    width: 100px;
    font-size: 14px;
    padding: 10px 20px;
    background-color: #00C2BA;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease;
}
.form__submit-btn:hover {
    background-color: #00928d;
}

.form__submit-btn:active {
    background-color: #007975;
}

.logo-img {              
    justify-self: center;     
}
.footer__logo {
    grid-area: logo;
}
.copy {
    grid-area: copy;
    color: #999999ff;
    justify-self: center;
    align-self: center;
}



/* =============  SIDEBAR  ============= */

.sidebar {
    /* grid-area: sidebar; */
    background-color: #00C2BA;
}
.section__desc {
}

.sidebar__heading {
    max-width: 100px;
}
.desc__wrapper {
    
}
.section__heading {
}
.bold-text {
}
.normal-text {
}
.section__info {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1;
}
.section__text {
}
.btn {
}
.rounded__btn {
    letter-spacing: 2px;
    border-radius: 50px;
    background-color: transparent;
}

.rounded__btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/* =============  BURGER  ============= */
.menu-icon {
    display: none;
    width: 40px;
    height: 30px;
    /* background-color: pink; */
    position: relative;
}

.menu-icon::after, .menu-icon::before {
    content: "";
    position: absolute;
    left: 0;
}

.menu-icon::after {
    bottom: 0;
    transition: transform .3s, bottom .3s 0.3s;

}
.menu-icon::before {
    top: 0;
    transition: transform .3s, top .3s 0.3s;

}

.menu-icon__line, .menu-icon::after, .menu-icon::before {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
}

.menu-icon--active .menu-icon__line {
    display: none;   
    transition: all .3s;
}

.menu-icon--active::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: top 0.3s, transform 0.3s 0.3s;
}

.menu-icon--active::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.3s;

}




/* =============  ADAPTIVE  ============= */


@media (max-width: 1400px) {
    .footer {
    grid-template:
        "socials form logo" max-content
        ". . copy" 100px / 1fr 1.5fr 1fr;
    }
    .footer__wrapper {
    flex: 0;
    /* flex-shrink: 0; */
    display: grid; 
    /* grid-template: "sidebar" 1r "footer" 1fr; */
    grid-template-rows: max-content max-content;
    grid-template-columns: auto;
    grid-template-areas: "sidebar" "footer";

}
    .socials {
        justify-content: center;
    }
    .header {
        grid-template: "logo nav search" max-content / 165px 2.5fr 150px;
        padding: 15px 30px;
    }
    .search {
        padding-left: 35px;
        justify-self: start;
    }
    .header__nav {
        justify-self: center;
        transform: none;
    }
    .header__nav a::before {
        left: 15px;
        width: calc(100% - 30px);
    }
    .main {
        grid-template-rows: auto;
        grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
        grid-template-areas: "freshy freshy freshy healthy" 
                            "slider-arrows slider-arrows slider-arrows healthy" 
                            "thirsty thirsty thirsty thirsty"
                            "slider-dots slider-dots orange orange";
        height: auto;
    }
    .section__desc {
        padding: 60px;
    }
    .section__desc-yellow {
        padding-right: 160px;
    }
    .sidebar {
        padding-left: 200px;
    } 
    .slider-arrows, 
    .slider-dots,
    .orange {
        height: 400px;
    }
}

@media (max-width: 850px) {
    .main {
        grid-template-rows: repeat(6, max-content); /* 6 строк равной высоты */
        grid-template-columns: 1fr; /* 1 столбец */
        grid-template-areas:
        "freshy"
        "slider-arrows"
        "healthy"
        "slider-dots"
            "thirsty"
            "orange";
        height: auto;
    }
    .desc__wrapper-red {
        /* padding-right: 100px; */
        display: flex;
        flex-direction: row;
        /* width: 240px; */
    }
    .section__desc-red {
        padding-right: 100px;
    }
    .section__desc-green {
        padding-left: 160px;
    }
    .desc__wrapper-red .section__text {
        width: 240px;
    }
    .footer {
        padding: 40px 0; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .form {
        gap: 40px;
        text-align: center;
    }
    .header__nav {
        display: none;
    }
    .search {
        display: none;
    }
    .header {
        display: grid;
        padding: 15px 30px;
        grid-template-columns: repeat(2, max-content);
        grid-template-areas: "logo menu-icon";
        justify-content: space-between;
    }
    .menu-icon{
        display: block;
        grid-area: menu-icon;
    }
    .header--mobile {
        min-height: 100vh;
        grid-template: "logo menu-icon" max-content
                        "nav nav" max-content
                        "search search" 100px;
        align-content: space-between;
        justify-items: center;
    }

    .header--mobile .search, .header--mobile .header__nav{
        display: block;
    }
    .search {
        padding-left: 0px;
        justify-self: center;
    }
    .menu-icon {
        justify-self: end;
    }
    .header__nav {
        transform: none;
    }
    .header__nav ul {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
    .header__nav a::before {
        display: none;
    }
}

@media (max-width: 650px) {
    .desc__wrapper{
        gap: 20px;
        width: 100%;
    }
    .section__desc {
        padding: 30px;
        /* justify-content: space-between; */
    }
    .section__text {
        font-size: 12px;
        max-width: unset;
        width: unset;
    }
    .desc__wrapper-red .section__text {
        width: unset;
        max-width: unset;
    }
    .section__desc-yellow {
        padding-right: 30px;
    }
    .sidebar {
        padding-left: 30px;
    }
}

@media (max-width: 450px) {
    .rounded__btn {
        justify-self: center;
        align-self: center;
    }
    .section__desc-green .desc__wrapper {
        flex-direction: column-reverse;
    }
    .desc__wrapper {
        flex-direction: column;
    }
    .section__text {
        text-align: right;
    }
    .form__input {
        width: 170px;
    }
}




